.catalogo-container {
    background-image: url("../../assets/images/background/background-all.png");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.catalogoBorder {
    margin-top: 40px;
    border-bottom: 1px solid white;
    position: absolute;
    width: 120px;
}
.catalogo-content {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    place-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 400vh;
    width: 33%;
}
.titulo {
    background-color: #8E8645;
    opacity: 90%;
    border-radius: 10px;
    font-size: 10px;
    margin: 20px;
    text-align: center;
}
.corpo {
    display: grid;
    place-items: center;
    background-color: #516341;
    opacity: 90%;
    min-height: 30vh;
    border-radius: 10px;
    margin: 20px;
    padding: 0px;
}

.catalogo-card {
    font-size: 14px;
    color: black;
    background-color: #D9D9D9;
    opacity: 90%;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    display: grid;
    padding: 30px;
    gap: 10px;
    margin: 20px;

}