.catalogo-container {
    background-image: url("../../assets/images/background/background-all.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-bar {
    width: 100%;
    padding: 0px 32px;
}

.catalogoBorder {
    margin-top: 40px;
    border-bottom: 1px solid white;
    position: absolute;
    width: 120px;
}

.catalogo-content {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.catalog-table {
    flex: 2;
    width: 70%;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
