/* 353 832  */

.search-content {
    max-width: 400px;
    min-height: 100%;
    height: auto;
    background-color: #161E18;
    margin-left: 1.5rem;
    border-radius: 10px;
    display: flex;
}

.input-container {
    height: 40px;
    max-width: 80%;
    position: relative;
    margin-top: 15%;
    margin-left: 10%;

}

.input-search {
    height: 80%;
    width: 100%;
    background-color: #b3b3b3;
    border-radius: 6px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.filter-container {
    margin-top: 10%;
    margin-left: 2%;    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-options {
    margin-left: 10px;

}

.filter-name {
    color: white;
    font-size: 25px;
}

.filter-content {
    font-size: 16px;
    margin-top: -15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.reset-filter {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.reset-input {
    font-size: 15px;
    width: 120px;
    height: 32px;
    background-color: #959595;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}