@import url("../assets/fonts/fonts.css");

body {
    font-family: "Andada Pro", "arial";
    background-color: #161E18;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    & > [class$="-container"] {
        /* Header height + heder top margin + container spacing */
        padding-top: calc(92px + 1.25rem + 1.5rem);
    }
    & > .home-container {
        padding-top: 260px;
    }
}
