@import url("../assets/fonts/fonts.css");

body {
    font-family: "Andada Pro", "arial";
    /* background-color: hsl(135, 15%, 10%, 81%); */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-app {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
