.mapa-container {
    background-image: url("../../assets/images/background/background-all.png");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mapaBorder {
    margin-top: 40px;
    border-bottom: 1px solid white;
    position: absolute;
    width: 100px;
}

.looker-container {
    margin: auto;
    max-height: calc(0.7 * ((100vw * 0.8) * 9/16));
    height: 70%;
    max-width: 1200px;
    width: 80%;
    background-color: #4c5d3aad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}

.embed-iframe {
    width: 100%;
    aspect-ratio: 16/9;
}
