@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap");

.mainNavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(135, 15%, 10%, 81%);
    border-radius: 17px;
    min-height: 92px;
    width: 95%;
    margin: 2% 0%;

    &.home {
        flex-direction: column;

        .florice-name {
            color: white;
            text-decoration: none;
            font-size: 96px;
        }

        .divisor {
            display: block;
            flex: 1;
            width: 80%;
            height: 0px;

            margin: 0.75rem 0;
            border-left: none;
            border-top: 1px solid hsl(0, 0%, 100%, 50%);
        }

        .ulPages {
            margin: 0;
            margin-bottom: 0.75rem;

            li {
                margin: 0 1.25rem;
            }
        }
    }

    .florice-name {
        color: white;
        text-decoration: none;
        font-size: 36px;
    }

    .divisor {
        height: 80%;
        border-left: 2px solid hsl(0, 0%, 100%, 50%);
        margin: 0 1.5rem;
    }

    .ulPages {
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style-type: none;
        margin: 0;
        margin-right: 10%;
        padding: 0;
    }

    .ulPages li {
        padding: 5px;
        font-weight: 0;
    }

    .linkItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }

    .florice-title {
        flex: 0 1 auto;
        padding-left: 40px;
    }

    .sobreBorder,
    .catalogoBorder,
    .mapaBorder,
    .loginBorder {
        margin-top: 40px;
        border-bottom: 1px solid white;
        position: absolute;
        width: 100px;
    }
}
