@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap");

.mainNavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(135, 15%, 10%, 81%);
    border-radius: 17px;
    min-height: 92px;
    width: 100%;
    margin-top: 1.5%;
    padding-bottom: 10px;
    box-sizing: border-box;

    &.home {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid green;

        .florice-name {
            height: 100%;
            padding-top: 10px;
            color: white;
            text-decoration: none;
            font-size: 96px;
        }

        .divisor {
            display: block;
            flex: 1;
            width: 80%;
            height: 0px;
            margin: 0.75rem 0;
            border-left: none;
            border-top: 1px solid hsl(0, 0%, 100%, 50%);
        }

        .ulPages {
            max-width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
        }

        @media (max-width: 720px) {
            .florice-name {
                font-size: 28px;
            }
        }
    }

    .florice-name {
        display: flex;
        justify-content: flex-start;
        color: white;
        text-decoration: none;
        font-size: 36px;
    }

    .divisor {
        height: 80%;
        border-left: 2px solid hsl(0, 0%, 100%, 50%);
        margin: 0 1.5rem;
    }

    .ulPages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        list-style-type: none;
        margin: 0;
        margin-right: 10%;
        padding: 0;
    }

    .ulPages li {
        padding: 5px;
        font-weight: 0;

        &:not(:last-of-type) {
            margin-right: 1.5rem;
        }
    }

    .linkItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }

    .florice-title {
        flex: 0 1 auto;
        padding-left: 40px;
        display: flex;
    }

    .headerBorder {
        height: 50px;
        border-left: 2px solid rgba(255, 255, 255, 0.384);
    }

    .floricelink {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:not(.home) {
        .florice-title {
            display: none;
        }
    }

    .menu-button {
        display: none;
    }
}

@media (max-width: 576px) {
    .mainNavBar {
        margin: 8px;
        box-sizing: border-box;
        width: calc(100% - 16px);

        .florice-name {
            font-size: 28px;
        }

        &.home {
            flex-direction: row;

            .florice-name {
                padding-top: 0;
            }
        }

        .florice-title {
            margin-left: auto;
        }

        .menu-button {
            margin-left: auto;
            display: block;
            margin-right: 1.5rem;

            background-color: transparent;
            border: 1px solid #ffffff47;
            border-radius: 4px;

            svg {
                width: 16px;
                height: 16px;
                object-fit: contain;
                path {
                    fill: #fff;
                }
            }
        }

        &:not(.home) {
            .florice-title {
                display: block;
            }
        }

        &.home .divisor,
        .divisor {
            display: none;
        }

        .divisor .ulPages {
            display: none;
        }

        .ulPages {
            position: absolute;
            display: list-item;
            background-color: rgba(22, 29, 24, 0.8);
            top: 0px;
            bottom: 0px;
            width: 260px;
            left: -300px;
            z-index: 999;
            transition: left 0.3s ease-in-out;

            a:has(.floricelink),
            li:has(.headerBorder) {
                display: none;
            }

            &.open {
                left: 0px;
            }

            li:not(:last-of-type) {
                margin-right: 0;
            }
        }
    }
}
