.nav-bar {
    width: 100%;
}

.home-container {
    display: flex;
    background-image: url("../../assets/images/background/background-home3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0px 32px;

    & .home-content {
        display: flex;
        margin-top: 5%;
        align-items: center;
    }

    & .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        position: relative;
        text-align: center;

        & .btn-catalogue {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -10px;
            padding: 16px 32px;
            background-color: #161e18;
            font-size: 24px;
            color: white;
            border-radius: 50px;
            border: 1px solid #212a23;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        }

        & img {
            max-width: 100%;
            width: 600px;
            max-height: 80%;
            aspect-ratio: 737/491;
            object-fit: cover;
            border-radius: 224px;
        }
    }

    & .about-container {
        display: flex;
        width: 50%;
        padding: 20px;
        height: 100%;
        justify-content: center;
        align-items: center;

        p {
            border-radius: 18px;
            font-size: 26px;
            padding: 1.75rem;
            background-color: rgba(244, 241, 145, 0.28);
            color: white;
        }
    }
}

@media (max-width: 576px) {
    .home-container {
        padding: 0px;

        & .home-content {
            padding: 0px 8px;
            flex-direction: column;

            & .hero {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-bottom: 1rem;

                & img {
                    width: 100%;
                    border-radius: 18px;
                }

                & .btn-catalogue {
                    width: 80%;
                    padding: 8px;
                    bottom: 8px;
                }
            }

            & .about-container {
                width: 100%;
                padding: 0px;
                height: 100%;

                p {
                    padding: 1rem;
                    margin: 0px 0px 1rem 0px;
                    font-size: 20px;
                }
            }
        }
    }
}
